


  <footer class="text-center">
    <h1 class="text-center footer-hd">Follow us on</h1>

    <div class="text-center footer-info">
      <a  href="#"><img class="footer-icons" src="images/twitter.png" alt="twitter"> </a>
      <a  href="#"><img class="footer-icons" src="images/reddit.png" alt="reddit"></a>
      <a  href="#"><img class="footer-icons" src="images/instagram.png" alt="instagram"></a>
      <a  href=""><img class="footer-icons" src="images/facebook.png" alt="facebook"></a>
    </div>
    <h6 class="creator">@ Copyright Samplr</h6>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.53/Tone.js" integrity="sha512-dGVQwmiMoMAkFOg9R/ZSxCWocCuOXzYQAA7z0ym4f/ZZfwCsDiLxhs2RguZ2p7r5kixUjrmUmy8Tn6eKIKDZFA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
  <script src="https://unpkg.com/wavesurfer.js"></script>

  <script src="index.js"></script>


</body>
</html>
