<%- include('partials/header') %>

<section id="top-section">
<div class="container-fluid">
  <div class="row">
          <h1 class="col-lg-12 text-center welcome-h1">Welcome to Samplr</h1>
  </div>
</div>
</section>

<section id="mid-section">
  <div class="container-fluid">
    <div class="row mid-row">
      <h1 class="col-lg-12 text-center sd-h1">Sound Designers</h1>
    </div>
    <div class="row mid-row">
      <h4 class="col-lg-12 text-center md-text">Want to sell your samples? Submit your sounds today!</h4>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <button class="btn btn-light sub-btn"type="button" name="button">Submission</button>
      </div>
    </div>
  </div>
</section>

<section id="bot-section">
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-lg-12 text-center bot-header">Check out some Samples & Packs</h1>
    </div>
    <div class="row">
      <!-- <div class="card-group col-lg-12 col-md-12 col-sm-12"> -->
        <div class="col-lg-3 col-md-6 col-sm-6 text-left card bot-card ">
          <img class="card-img img-card rounded" src="https://i1.sndcdn.com/avatars-000247750402-qlz4k6-t200x200.jpg" alt="">
          <!-- <div class="card-img-overlay"> -->
                <div class="img-group">
                  <!-- <button class="play-card-btn pb-btn-hover" type="button"></button> -->
                  <div class="card-body">
                      <h6 class="cb-header">DOM & SERG Essentials</h6>
                      <br>
                      <p class="text-muted cb-text">Essentials</p>
                      <button class="play-card-btn pb-btn-hover" type="button"></button>
                  </div>
                  <!-- <button class="play-card-btn pb-btn-hover" type="button"></button> -->
                </div>
          <!-- </div>k -->

        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-left card bot-card">
            <img class="card-img img-card rounded" src="https://i1.sndcdn.com/artworks-000628164157-bbfeg4-t500x500.jpg" alt="">
          <div class="img-group">
            <div class="card-body">
              <h6 class="cb-header">Virtual Riot Mega Pack</h6>
              <br>
              <p class="text-muted cb-text">Mega Pack</p>
              <button class=" play-card-btn pb-btn-hover" type="button"></button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-left card bot-card">
          <img class="card-img img-card rounded" src="https://i1.sndcdn.com/artworks-SqR7RDiDstzQL1km-yr9gMg-t500x500.jpg" alt="">
            <div class="img-group">
              <div class="card-body">
                <h6 class="cb-header">Chromonicci QGR Pack</h6>
                <br>
                <p class="text-muted cb-text">QGR Pack</p>
                <button class="play-card-btn pb-btn-hover" type="button"></button>
              </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-left card bot-card">
          <img class="card-img img-card rounded" src="https://i1.sndcdn.com/artworks-000624208810-4j4scd-t500x500.jpg" alt="">
          <div class="img-group">
                <div class="card-body">
                  <h6 class="cb-header">L*o*J Tribal Pack</h6>
                  <br>
                  <p class="text-muted cb-text">Tribal Pack</p>
                  <button class="play-card-btn pb-btn-hover" type="button"></button>
                </div>
          </div>
        </div>

    </div>
  </div>
</section>
<br>
<script type="text/javascript">


$(".bot-card").hover(function(){
  $(this).find(".pb-btn-hover").css("visibility", "visible");
},function(){
  $(this).find(".pb-btn-hover").css("visibility", "hidden");

});
// this .find made this work on individual cards instead of all of them


</script>

<%- include('partials/footer') %>
