<%- include("partials/header") %>

  <div class="container-fluid container ">
    <div class="row">
      <h1 class="col-lg-12 text-center text-dark">Sample Pack Submission</h1>
    </div>

    <div class="row form-container sub-row">
      <div class="col-md-3 px-2">
        <label for="">Sample Pack Title</label>
        <input type="text" class="form-control" placeholder="Title">
      </div>
      <div class="col-md-3 px-2">
        <label for="">Genre</label>
        <input type="text" class="form-control" placeholder="Genre">
      </div>
    </div>
    <div class="row form-container sub-row">
      <div class="col-md-3 px-2">
        <label for="">Artist Name</label>
        <input type="text" class="form-control" placeholder="Artist">
      </div>
      <div class="col-md-3 px-2">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="row form-container sub-row">
      <div class="col-md-3 px-2">
        <label for="">First Name</label>
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="col-md-3 px-2">
        <label for="">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
    </div>
    <br>
    <div class="row file-container sub-row">
      <div class="custom-file col-md-3">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
  </div>




<%- include("partials/footer") %>
